In [ ]:
import random
import numpy as np
import pandas as pd
import pingouin as p

In [5]:
#Variables

length = 10000
cols = ["P", "Q", "X", "Y", "Z"]
mu = 0
sigma = 5

# this is a generator funciton with creates a list of lists!
lst_dct = {col:[] for col in cols }
lst_dct

{'P': [], 'Q': [], 'X': [], 'Y': [], 'Z': []}

In [3]:
# the [-1] after the df["key"] is calling the last value.

for i in range(length):
    lst_dct["P"].append(25 + np.random.normal(mu, .5 * sigma))
    lst_dct["Q"].append(50 + np.random.normal(mu, sigma))
    lst_dct["X"].append(3 * lst_dct["Q"][-1]  + np.random.normal(mu, sigma ))
    lst_dct["Y"].append(lst_dct["Q"][-1] * -0.5  +  np.random.normal(mu, sigma))
    lst_dct["Z"].append(lst_dct["P"][-1] * 2 +  1.5 * lst_dct["X"][-1] -  lst_dct["Y"][-1] * 2 +  np.random.normal(mu,  sigma))

df = pd.DataFrame(lst_dct)
keys = cols 
# ["Q",
#         "X",
#         "Y",
#         "Z"]
dag_keys = keys 
df

              P          Q           X          Y           Z
0     27.844584  46.455783  141.194411 -25.291607  319.108204
1     21.425573  56.659723  169.657633 -23.503892  340.861400
2     26.958169  45.238515  130.274250 -11.802530  273.359517
3     21.691946  56.607064  170.002798 -33.604682  358.835069
4     19.594054  56.511179  172.791525 -26.997152  359.815210
...         ...        ...         ...        ...         ...
9995  25.015035  46.598619  147.630244 -27.869143  325.364227
9996  24.318636  53.263742  158.934283 -27.693112  345.751606
9997  24.119551  48.437555  143.996620 -24.068012  306.934361
9998  21.728202  50.289446  148.676877 -22.803939  311.802437
9999  20.505279  47.056224  131.168399 -24.452493  284.208775

[10000 rows x 5 columns]